{% extends 'aplicacion/base.html' %}
{% block content %}
<div class="col-12 buttons text-center">
</div>
<div class="col-12 pt-3">
  <div class="row text-center">
    <div class="d-none d-lg-flex col-lg-3"></div>
      <div class="col-7 col-lg-4">
          <div class="">
            <div class="">Name: {{artist.name}}</div>
            <hr>
            {% if artist.group %}
            <div class="">
              Founding date: {{artist.born}}
            </div>
            {% else %}
            <div class="">
              Born in: {{artist.born}}
            </div>
            {% endif %}
            <hr>
            <div class="list-group-item"></div>
            </div>
      </div>
      <div class="col-5 col-lg-2">
        <img src="{{ artist.picture.url }}" alt="Photo didn't load" width="100%">
      </div>
      <div class="d-none d-lg-flex col-lg-3"></div>
      <div class="d-none d-lg-flex col-lg-3"></div>
      <div class="col-12 col-lg-6  pt-3">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Biography
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  {{artist.biography}}
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="d-none d-lg-flex col-lg-3"></div>
  </div>
</div>
{% endblock %}