{% extends 'aplicacion/base.html' %}
{% block content %}
<div class="col-12 pt-3">
    <div class="row text-center">
      <div class="d-none d-lg-flex col-lg-3"></div>
        <div class="col-7 col-lg-4">
            <div class="">
                <div class="">Title: {{song.title}}</div>
                <hr>
                <div class="">
                  Artist:
                  {% for artist in song.artist.all %}
                  <a href="{% url 'artistDetail' pk=artist.pk %}">
                     {{ artist.name }}
                  </a>
                  {% endfor %}
                </div>
                <hr>
                <div class="list-group-item">Release Date: {{song.release_date}}</div>
                </div>
        </div>
        <div class="col-5 col-lg-2">
          <img src="{{ song.cover.url }}" alt="Photo didn't load" width="100%">
        </div>
        <div class="d-none d-lg-flex col-lg-3"></div>
        <div class="d-none d-lg-flex col-lg-3"></div>
        <div class="col-12 col-lg-6  pt-3">
          <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Lyrics
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    {{song.lyrics}}
                  </div>
                </div>
              </div>
          </div>
      </div>
      <div class="d-none d-lg-flex col-lg-3"></div>
    </div>
    <div class="row text-center pt-2">
      <div class="col-2 col-lg-5"></div>
      <div class="col-4 col-lg-1">
        <a class="btn btn-primary" href="{% url 'create_review' song.pk %}">Add a review</a>
      </div>
      <div class="col-4 col-lg-1">
        <a class="btn btn-primary" href="{% url 'review' song.pk %}">View reviews</a>
      </div>
      <div class="col-2 col-lg-5"></div>
    </div>
</div>
{% endblock %}