{% extends 'aplicacion/base.html' %}
{% block content %}
{% for songs in Song %}
<div class="col-6 pt-4 col-lg-2">
  <div class="card col-12">
    <a href="{% url 'detail' pk=songs.pk %}"><img src="{{ songs.cover.url }}" class="card-img-top" alt="Photo didn't load" height="300px"></a>
    <div class="card-body">
      <p class="card-text">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{songs.title}}</li>
          <li class="list-group-item">
            {% for artist in songs.artist.all %}
              {{ artist.name }}
            {% endfor %} 
          </li>
          <li class="list-group-item">{{songs.release_date}}</li>
          <a href="{{ songs.SpotifyLink}}" target="_blank"><li class="list-group-item"><i class="bi bi-spotify fs-2"></i></li></a>
          <a href="{{ songs.YoutubeLink }}" target="_blank"><li class="list-group-item"><i class="bi bi-youtube fs-2"></i></li></a>
          <a href="{{ songs.SoundcloudLink }}" target="_blank"><li class="list-group-item"><img src="../../../media/svg/soundcloud-svgrepo-com.svg" height="40px" alt="Soundlcoud icon didn't load"></li></a>
        </ul>
      </p>    
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}