{% extends 'aplicacion/base.html' %}
{% block content %}
{% for songs in Song %}
<div class="col-2 pt-4">
  <div class="card col-12">
    <img src="{{ songs.cover.url }}" class="card-img-top" alt="La imagen no ha cargado">
    <div class="card-body">
      <p class="card-text">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Title: {{songs.title}}</li>
          <li class="list-group-item">
            {% for artist in songs.artist.all %}
              Artist: {{ artist.name }}
            {% endfor %} 
          </li>
          <li class="list-group-item">Release date: {{songs.release_date}}</li>
          <a href="{{ songs.SpotifyLink}}" target="_blank"><li class="list-group-item"><i class="bi bi-spotify fs-2"></i></li></a>
          <a href="{{ songs.YoutubeLink }}" target="_blank"><li class="list-group-item"><i class="bi bi-youtube fs-2"></i></li></a>
          <a href="{{ songs.SoundcloudLink }}" target="_blank"><li class="list-group-item"><img src="../../../media/svg/soundcloud-svgrepo-com.svg" height="40px"></li></a>
        </ul>
      </p>    
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}